# Quora Questions Classifications

In [1]:
## import necessary libraries

In [2]:
import pandas as pd

In [3]:
## import the dataset

In [4]:
## encodings = ['utf-8', 'latin1', 'ISO-8859-1']

quora_train = pd.read_csv("train.csv", encoding='ISO-8859-1')

In [5]:
## read the first five records from training dataset

In [6]:
quora_train.head()

,qid,question_text,target,Unnamed: 3
0,00002165364db923c7e6,How did Quebec nationalists see their province...,0,NaN
1,000032939017120e6e44,"Do you have an adopted dog, how would you enco...",0,NaN
2,0000412ca6e4628ce2cf,Why does velocity affect time? Does velocity a...,0,NaN
3,000042bf85aa498cd78e,How did Otto von Guericke used the Magdeburg h...,0,NaN
4,0000455dfa3e01eae3af,Can I convert montra helicon D to a mountain b...,0,NaN

In [7]:
## identify the data types and null values of training dataset

In [8]:
quora_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048574 entries, 0 to 1048573
Data columns (total 4 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   qid            1048574 non-null  object
 1   question_text  1048574 non-null  object
 2   target         1048574 non-null  object
 3   Unnamed: 3     6 non-null        float64
dtypes: float64(1), object(3)
memory usage: 32.0+ MB

## Explotary Data Analysis (EDA)

In [9]:
## remove the  unnecessary coloumn called unnamed

In [10]:
quora_train_new = quora_train.drop('Unnamed: 3', axis=True)

In [11]:
quora_train_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048574 entries, 0 to 1048573
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   qid            1048574 non-null  object
 1   question_text  1048574 non-null  object
 2   target         1048574 non-null  object
dtypes: object(3)
memory usage: 24.0+ MB

In [12]:
quora_train_new.head()

,qid,question_text,target
0,00002165364db923c7e6,How did Quebec nationalists see their province...,0
1,000032939017120e6e44,"Do you have an adopted dog, how would you enco...",0
2,0000412ca6e4628ce2cf,Why does velocity affect time? Does velocity a...,0
3,000042bf85aa498cd78e,How did Otto von Guericke used the Magdeburg h...,0
4,0000455dfa3e01eae3af,Can I convert montra helicon D to a mountain b...,0

In [15]:
quora_train_new.tail()

,qid,question_text,target
1048569,cd76189d120969381147,What info does a Facebook page receive when yo...,0
1048570,cd762e8941f1ab6ae0bf,"If no can know God, why believe in something y...",0
1048571,cd76362e61ce44bcff74,Is it true that the lunar cycle affects women'...,0
1048572,cd763d37d3d7cfcd42ce,What is the difference between the old currenc...,0
1048573,cd7642554d107f946d8a,What is the full form of DML?,0

In [28]:
quora_train_label = quora_train_new.target.copy()

In [29]:
quora_train_label

0          0
1          0
2          0
3          0
4          0
          ..
1048569    0
1048570    0
1048571    0
1048572    0
1048573    0
Name: target, Length: 1048574, dtype: object

In [30]:
quora_train_label.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1048574 entries, 0 to 1048573
Series name: target
Non-Null Count    Dtype
--------------    -----
1048574 non-null  object
dtypes: object(1)
memory usage: 8.0+ MB

## Model Selection and training

In [17]:
## split the training dataset into the training and validation test
## this training set is used for train the model and validate test used for validating model

In [ ]:
from sklearn.model_selection import train_test_split

# Splitting train set into  the trainning and validation set
X_train, X_test, y_train, y_test = train_test_split(quora_train_new, label, test_size = 0.2, random_state=123)

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Sample data
texts = ["text data sample 1", "another text data sample", "more text data"]
labels = [0, 1, 0]

# Split data
X_train, X_test, y_train, y_test = train_test_split(texts, labels, test_size=0.2, random_state=42)

# Pipeline for feature selection and classification
pipeline = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('chi2', SelectKBest(chi2, k=1000)),  # Select top 1000 features
    ('clf', LogisticRegression())
])

# Train model
pipeline.fit(X_train, y_train)

# Predict and evaluate
y_pred = pipeline.predict(X_test)
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")

In [14]:
quora_train_corr = quora_train_new.corr()

ValueError: could not convert string to float: '00002165364db923c7e6'